/* Estilos generales */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #666;
}

/* Estilos del header */

header {
  background-color: #297542;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header img {
  float: left;
  margin-right: 20px;
}

/* Estilos de las secciones */

section {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

section h2 {
  margin-top: 0;
}

/* Estilos de la sección de configuración de WiFi */

#configuracion-wifi {
  background-color: #f7f7f7;
}

/* Estilos de la sección de configuración de setpoints */

#configuracion-setpoints {
  background-color: #f7f7f7;
}

/* Estilos de la sección de visualización de variables */

#visualizacion-variables {
  background-color: #f7f7f7;
}

#visualizacion-variables ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#visualizacion-variables li {
  margin-bottom: 10px;
}

/* Estilos de los formularios */

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  background-color: #297542;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 10px;
  width: 100px;
  border-radius: 5px;
}

/* Media queries */

@media (max-width: 768px) {
  section {
      margin: 10px;
  }

  header img {
      display: none;
  }
}
